<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('订单号')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_id" class="form-control" name="row[trade_order_no]" type="text" value="{$row.trade_order_no|htmlentities}" readonly="readonly">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('创建时间')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[time_start]" type="text" value="{$row.time_start}" readonly="readonly">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('金额')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_amount" class="form-control" name="row[pay_amount]" type="text" value="{$row.pay_amount|htmlentities}" readonly="readonly">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">处理设备:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-device" class="form-control" name="row[device]" type="text" value="{$row.device|htmlentities}" readonly="readonly">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">账号名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-accountName" class="form-control" name="row[accountName]" type="text" value="{$row.accountName|htmlentities}" readonly="readonly">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('充值账号')}:</label>
        <div class="col-xs-12 col-sm-8">
            {foreach name="items" item="vo"}
            <input id="c-decrypt_account_val" class="form-control"  type="text" value="{$vo.decrypt_account_val|htmlentities}" readonly="readonly">
            {/foreach}
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-system_status_name" class="form-control" name="row[system_status_name]" type="text" value="{$row.system_status_name|htmlentities}" >
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
